.businessAdmin {
    h2 {
        color: black;
    }

    button.ant-input-search-button {
        border-end-end-radius: 0px !important;
        border-start-end-radius: 0px !important;
    }

    button.ant-input-filter-button {
        padding: 0;
        border-left-color: transparent;
        color: rgba(0, 0, 0, 0.45) !important;
        border-start-start-radius: 0px !important;
        border-end-start-radius: 0px !important;
    }
}
