.product-hotel-list {
    .ant-slider-handle::after,
    .ant-slider-handle:active::after,
    .ant-slider-handle:focus::after {
        box-shadow: 0 0 0 4px #fe5858 !important;
    }

    .ant-slider-handle:hover::after {
        box-shadow: 0 0 0 2px #fe5858 !important;
    }
}
