
.cation {
  color: var(--color-darkslateblue);
}
.staycation {
  /* position: absolute;
  top: 20px;
  left: 150px; */
  font-weight: 500;
}
.homeBrowseByContainer {
  /* position: absolute; */
  /* top: 27px;
  left: 830px; */
  font-size: var(--font-size-base);
  text-align: right;
  display: inline;
  /* width: 460px;*/
  height: 24px; 
}
.navigationHeader {
  /* position: absolute;
  top: 0px;
  left: 0; */
  padding: 10px 120px;
  background-color: var(--color-white);
  width: 100%;
  height: 80px;
  font-size: var(--font-size-7xl);
  color: var(--color-mediumslateblue);
}
.forgetBusyWork {
  margin: 0;
}
.forgetBusyWorkContainer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 42px;
}
.weProvideWhatContainer {
  position: absolute;
  top: 146px;
  left: 0;
  line-height: 170%;
  font-weight: 300;
  color: var(--color-darkgray-200);
}
.showMeNow {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 170%;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 155px;
}
.btnPrimary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 0;
  background-color: var(--color-mediumslateblue);
  position: absolute;
  height: 10.92%;
  width: 49.76%;
  top: 56.11%;
  right: 50.24%;
  bottom: 32.97%;
  left: 0;
  border-radius: var(--br-9xs);
  box-shadow: 0 8px 15px rgba(50, 82, 223, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.span {
  font-weight: 500;
}
.travelers1 {
  font-weight: 300;
  color: var(--color-darkgray-200);
}
.travelers {
  position: relative;
  line-height: 170%;
}
.item {
  position: absolute;
  top: 389px;
  left: 0;
  width: 127px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.icCities1Icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.item1,
.item2 {
  position: absolute;
  top: 389px;
  left: 329px;
  width: 84px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.item2 {
  left: 178px;
  width: 101px;
}
.bannerIcon,
.content {
  position: relative;
  width: 422px;
  height: 458px;
}
.bannerIcon {
  width: 559px;
  height: 450px;
  object-fit: cover;
}
.hero {
  /* width: 1140px; */
  width: 100%;
  height: 458px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.frame,
.frame1,
.frame2,
.frame3,
.frame4,
.frame5
{
  padding: 50px 120px;
}

.frame {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-base);
}
.mostPicked1 {
  /* top: 0; */
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslateblue);
}
.featuredChild,
.featuredItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 361px;
  height: 460px;
}
.featuredChild {
  object-fit: cover;
}
.featuredItem {
  background: linear-gradient(180.1deg, transparent, rgba(0, 0, 0, 0.5));
}
.perNight {
  position: relative;
  line-height: 170%;
  display: inline-block;
  width: 156px;
}
.badge {
  position: absolute;
  height: 8.7%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 91.3%;
  left: 50.14%;
  border-radius: 0 var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-deeppink);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
}

.featuredLeftText {
  position: absolute;
  top: 383px;
  left: 24px;
  font-size: var(--font-size-xl);
}
.featuredLeftSubText {
  position: absolute;
  left: 24px;
  top: 413px;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.featured {
  position: relative;
  width: 361px;
  height: 460px;
  font-size: var(--font-size-base);
}
.featuredInner,
.rectangleDiv {
  /* position: absolute;
  top: 0;
  left: 0; */
  border-radius: var(--br-mini);
  width: 361px;
  height: 215px;
}
.featuredInner {
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180.1deg, transparent, rgba(0, 0, 0, 0.5));
}

.featuredRightSubText {
  position: absolute;
  left: 24px;
  top: 168px;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.badge1 {
  position: absolute;
  top: 0;
  left: 181px;
  border-radius: 0 var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-deeppink);
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
}

.badge2 {
  position: absolute;
  top: 0;
  left: 181px;
  border-radius: 0 var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-deeppink);
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
}
.featuredRightText {
  position: absolute;
  top: 138px;
  left: 24px;
  font-size: var(--font-size-xl);
}
/* .badge2, */
.featured1,
.featured2,
.featured3,
.featured4 {
  position: relative;
  width: 361px;
  height: 215px;
  font-size: var(--font-size-base);
}

.mostPicked {
  position: relative;
  width: 1142px;
  height: 516px;
}
.frame1 {
  overflow: hidden;
  color: var(--color-white);
  background: linear-gradient(180.1deg, transparent, rgba(228, 150, 150, 0.5));
}
.housesWithBeauty {
  /* position: absolute;
  top: 0;
  left: 0; */
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.houseBackyardChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  /* width: 263px;
  height: 180px; */
  object-fit: cover;
}
.choice {
  font-weight: 300;
}
.badge5 {
  position: absolute;
  top: 0;
  left: 83px;
  border-radius: 0 var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-deeppink);
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
}

.houseBackyardText {
  position: absolute;
  top: 196px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue);
}
.houseBackyardSubText {
  position: absolute;
  top: 226px;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 300;
  color: var(--color-darkgray-200);
}
.houseBackyard
{
  position: relative;
  width: 263px;
  height: 249px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.anggana {
  position: absolute;
  top: 196px;
  left: 0;
}
.houseWithBackyard {
  width: '100%';
  height: 305px;
}

.item3,
.item6 {
  position: absolute;
  top: 56px;
  left: 1px;
  width: 263px;
  height: 249px;
}
.item6 {
  left: 879px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.item9 {
  position: absolute;
}
.item9 {
  top: 56px;
  left: 586px;
  width: 263px;
  height: 249px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.navigationChild {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
}
.staycation1 {
  font-size: var(--font-size-7xl);
  font-weight: 500;
  color: var(--color-mediumslateblue);
}

.forBeginners {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-darkslateblue);
  display: inline;
  /* width: 137px; */
  height: 24px;
  text-align: start;
}

.copyright{
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
  font-size: smaller;
}

.navigation {
  width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.fotoKeluargaIcon {
  position: relative;
  width: 405px;
  height: 541px;
  object-fit: cover;
}
.happyFamily {
  position: absolute;
  top: 0;
  left: 3px;
  font-weight: 500;
}
.whatAGreatContainer {
  position: absolute;
  top: 120px;
  left: 4px;
  font-size: var(--font-size-13xl);
}
.anggaProductDesigner {
  position: absolute;
  top: 224px;
  left: 3px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  color: var(--color-darkgray-200);
}
.btnPrimary1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 0;
  background-color: var(--color-mediumslateblue);
  position: absolute;
  top: 301px;
  left: 4px;
  border-radius: var(--br-9xs);
  box-shadow: 0 8px 15px rgba(50, 82, 223, 0.3);
  width: 210px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameChild {
  position: absolute;
  top: 76px;
  left: 0;
  width: 180px;
  height: 36px;
}
.happyFamilyParent {
  position: relative;
  width: 596px;
  height: 351px;
}
.happyStory {
  width: 1058px;
  height: 541px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 541px 0 0;
  box-sizing: border-box;
  gap: 57px;
}
/* .frame5 {
  position: absolute;
  top: 2419px;
  left: 0;
  width: 1208px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
} */
.homePage {
  /* position: relative; */
  /* background-color: var(--color-white); */
  width: 100%;
  /* height: 3370px; */
  /* overflow-y: auto; */
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-poppins);
}
