@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::before,
::after {
  border-width: 0;
}

body {
    min-width: 100vw !important;
    min-height: 100vh !important;
    line-height: normal;
}

span:where(.css-dev-only-do-not-override-amq5gd).ant-typography{
    font-size: 18px;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base: 18px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-7xl: 26px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-whitesmoke: #f5f6f8;
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #b0b0b0;
  --color-white: #fff;
  --color-darkslateblue: #152c5b;
  --color-mediumslateblue: #3252df;
  --color-gray: #898989;
  --color-gainsboro: #e5e5e5;
  --color-deeppink: #ff498b;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-7xs: 6px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-mini: 15px;
}

