@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

body {
    background: #fff;
    font-family: Nunito, sans-serif;
    font-weight: 400;
}

.form-control:focus {
    box-shadow: none;
    border-color: #69b1ff;
}

.back:hover {
    color: #fff;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #fff;
    color: #fff;
    cursor: pointer;
    border: solid 1px #fff;
}

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    &:hover .profile-pic {
        opacity: 0.5;
    }
    .profile-pic {
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        &:after {
            font-family: FontAwesome;
            content: '\f007';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            font-size: 190px;
            background: #ecf0f1;
            color: #34495e;
            text-align: center;
        }
    }
    .upload-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .fa-arrow-circle-up {
            position: absolute;
            font-size: 234px;
            top: -17px;
            left: 0;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease;
            color: #34495e;
        }
        &:hover .fa-arrow-circle-up {
            opacity: 0.9;
        }
    }
}
