.businessOwner {
    h2 {
        color: black;
    }

    button.ant-input-search-button {
        border-end-end-radius: 0px !important;
        border-start-end-radius: 0px !important;
    }

    button.ant-input-filter-button {
        padding: 0;
        border-left-color: transparent;
        color: rgba(0, 0, 0, 0.45) !important;
        border-start-start-radius: 0px !important;
        border-end-start-radius: 0px !important;
    }
}

.checkbox-group-custom {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    gap: 8px;
}

.tag-group-custom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.ql-editor {
    height: 250px !important;
}

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
