.fc .fc-day-other .fc-daygrid-day-events {
    opacity: 0.3 !important;
}

.fc-col-header-cell-cushion {
    text-decoration: none;
    color: #20232a;
    font-weight: 400;
}

.fc-col-header-cell-cushion:hover {
    color: #20232a;
    cursor: default;
}

.fc-daygrid-day-number {
    text-decoration: none;
    color: #20232a;
    font-weight: 400;
}

.fc-daygrid-day-number:hover {
    text-decoration: underline;
    color: #20232a;
}
